{% extends 'base.html.twig' %}

{% block body %}
  <h1>Website list ({{ websites | length }})</h1>

  <table id="table">
    <thead>
      <tr>
        <th>Domain</th>
        <th>Server</th>
        <th>Documentroot</th>
        <th>Type</th>
        <th>Version</th>
        <th>Data</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for website in websites %}
        <tr>
          <td><a href="{{ path('website_show', { 'id': website.id }) }}">{{ website.domain }}</a></td>
          <td>{{ website.server }}</td>
          <td>{{ website.documentRoot }}</td>
          <td>{{ website.type }}</td>
          <td>{{ website.version }}</td>
          <td>
            {% if website.data %}
              <a href="{{ path('website_show', { 'id': website.id }) }}">…</a>
            {% else %}
              –
            {% endif %}
          </td>
          <td>{{ website.comments }}</td>
          <td>
            <a href="{{ path('website_edit', { 'id': website.id }) }}">edit</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/jquery.tablesorter.js') }}"></script>
  <script>(function($) {
     $(document).ready(function() {
			 $('table').tablesorter();
     });
   }(jQuery))</script>
{% endblock %}
