{% extends 'base.html.twig' %}

{% block body %}
  <h1>Website</h1>

  <table>
    <tbody>
      <tr>
        <th>Domain</th>
        <td>{{ website.domain }}</td>
      </tr>
      <tr>
        <th>Server</th>
        <td>{{ website.server }}</td>
      </tr>
      <tr>
        <th>Documentroot</th>
        <td>{{ website.documentRoot }}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{ website.type }}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>{{ website.version }}</td>
      </tr>
      <tr>
        <th>Data</th>
        <td style="white-space: pre">{{ website.data | json_format }}</td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li>
      <a href="{{ path('website_index') }}">Back to the list</a>
    </li>
    <li>
      <a href="{{ path('website_edit', { 'id': website.id }) }}">Edit</a>
    </li>
  </ul>
{% endblock %}
